<h2>Project Contributions</h2>

<p>Number of contributions throughout the day (left) and over time (right). 

<div ng-repeat="(i, project) in projects" class="project">

	<div class="name">
		{{ project.name }}
		{{ project.parent.id }}
	</div>

	<div class="weekdays">
		<weekdaygraph data="project.weekdays" axis="i === projects.length - 1"></weekdaygraph>
	</div>

	<div class="days">
		<daygraph data="project.days" axis="i === projects.length - 1"></daygraph>
	</div>

</div>

<div ng-repeat="project in projects">
	<h3><a ui-sref="project({ id: project.id })">{{ project.name }}</a></h3>

	<div ng-show="project.tasks.complete">
		{{ project.tasks.complete | number }}
		tasks out of
		{{ project.tasks.complete + project.tasks.incomplete | number }} completed
		({{ project.tasks.complete / (project.tasks.complete + project.tasks.incomplete) * 100 | number : 2 }}%)
	</div>

	<div>
		{{ project.months.length | number }}
		months of data
		({{ project.rows | number }} rows)
	</div>

	<div>
		{{ project.users.ids + project.users.ips | number }}
		Users
	</div>

	<a ui-sref="project({ id: project.id })">See more...</a>
</div>