<h1>Project: {{ project.name }}</h1>

<a ng-href="project.url">Website</a>

<div>
	{{ project.tasks.complete }}
	Complete tasks out of
	{{ project.tasks.complete + project.tasks.incomplete }}
</div>

<div>
	{{ project.rows }}
	Rows of data
</div>

<div>
	{{ project.months.length }}
	Months
</div>

<div>
	{{ project.users.ids + project.users.ips }}
	Users
</div>

<h3>Users over time</h3>
<histogram left="usersOverTime" left-name="'Users'" right="rowsOverTime" right-label="'Contributions'"></histogram>

<h3>New users over time</h3>

<histogram left="newUsersOverTime"></histogram>

<h3>Contributions over time</h3>


<histogram left="rowsOverTime"></histogram>