<h2>Projects</h2>

<div ng-repeat="project in projects">

	<div class="name">
		{{ project.name }}
	</div>

	<div class="weekdays">
		<hist data="project.weekdays"></hist>
	</div>

	<div class="alltime">
		<hist data="project.alltime"></hist>
	</div>

</div>

<div ng-repeat="project in projects">
	<h3><a ui-sref="project({ id: project.id })">{{ project.name }}</a></h3>

	<div ng-show="project.tasks.complete">
		{{ project.tasks.complete | number }}
		tasks out of
		{{ project.tasks.complete + project.tasks.incomplete | number }} completed
		({{ project.tasks.complete / (project.tasks.complete + project.tasks.incomplete) * 100 | number : 2 }}%)
	</div>

	<div>
		{{ project.months.length | number }}
		months of data
		({{ project.rows | number }} rows)
	</div>

	<div>
		{{ project.users.ids + project.users.ips | number }}
		Users
	</div>

	<a ui-sref="project({ id: project.id })">See more...</a>
</div>