<div class="statsbar">
	<ul>
		<li><strong>{{ project.rows | number }}</strong>
			rows of data</li>

		<li><strong>{{ project.contributions | number }}</strong>
			contributions</li>

		<li ng-if="project.users"><strong>{{ project.users.length | number }}</strong>
			users</li>

		<li><strong>{{ project.months.length | number }}</strong>
			months of data</li>

		<li>Date range for data: {{ project.days[0].date | date:'dd MMM yyyy' }} to {{ project.days[project.days.length - 1].date | date:'dd MMM yyyy' }}. </li>

		<li><a ng-href="project.url">LPI website</a></li>
	</ul>
	<div>
		<h3>Recent trends</h3>

		<p>Over {{ month.date | date:'MMM yyyy' }} (compared with previous month):</p>

		<ul>
			<li ng-if="month.contributions">
				<strong>{{ month.contributions | number }}</strong> contributions
				<span ng-show="month.contributions > prevMonth.contributions">
					<span class="ticker up">&#9650;</span>
					+{{ month.contributions - prevMonth.contributions }}
				</span>
				<span ng-show="month.contributions < prevMonth.contributions">
					<span class="ticker down">&#9660;</span>
					{{ month.contributions - prevMonth.contributions }}
				</span>
			</li>

			<li ng-if="month.users">
				<strong>{{ month.users | number }}</strong> contributors
				<span ng-show="month.users > prevMonth.users">
					<span class="ticker up">&#9650;</span>
					+{{ month.users - prevMonth.users }}
				</span>
				<span ng-show="month.users < prevMonth.users">
					<span class="ticker down">&#9660;</span>
					{{ month.users - prevMonth.users }}
				</span>
			</li>

			<li ng-if="month.starters">
				<strong>{{ month.starters | number }}</strong> new contributors
				<span ng-show="month.starters > prevMonth.starters">
					<span class="ticker up">&#9650;</span>
					+{{ month.starters - prevMonth.starters }}
				</span>
				<span ng-show="month.starters < prevMonth.starters">
					<span class="ticker down">&#9660;</span>
					{{ month.starters - prevMonth.starters }}
				</span>
			</li>
		</ul>

		<!-- <div ng-if="month.tasks">
			{{ month.tasks | number }} tasks
		</div> -->
	</div>
	<div ng-if="project.countries">
		<h3>Top Countries</h3>
		<div ng-if="project.users">
			<a ng-class="{ active: !countryContributors }" ng-click="countryContributors = false">Contributions</a>
			<a ng-class="{ active: countryContributors }" ng-click="countryContributors = true">Contributors</a>
		</div>
		<ul>
			<li ng-repeat="country in project.countries | orderBy:countryContributors ? '-users' : '-contributions' | limitTo:10">
				<span ng-class="'flag-icon flag-icon-' + country.country.toLowerCase()"></span>
				{{ country.name || 'Unknown' }}: {{ country[countryContributors ? 'users' : 'contributions'] }}
			</li>
		</ul>
	</div>
	<ul ng-if="project.nOfPlayer">
		<li><strong>{{ project.nOfPlayer | number }}</strong> players</li>
		<li><strong>{{ project.totalLifePlayddHHmmss }}</strong> time played</li>
		<li><strong>{{ project.completedTasks | number }}</strong> completed tasks</li>
		<li><strong>{{ project.startedTasks | number }}</strong> started tasks</li>
		<li><strong>{{ project.totalTasks | number }}</strong> total tasks</li>
		<li><strong>{{ project.completion }}%</strong> complete</li>
		<li><strong>{{ project.throughput }}</strong> throughput (solved per hour)</li>
		<li><strong>{{ project.alp }}</strong> the average life play (time per player)</li>
		<li><strong>{{ project.contribution }}</strong> expected contribution (solved per player)</li>
	</ul>
</div>

<div class="breadcrumb">
	<a ui-sref="projects">Light Pollution Initiatives</a> &gt;
	<a ui-sref="project({ id: project.id })">{{ project.name }}</a>
</div>

<div class="project-view">

	<div class="options" style="float: right" ng-show="project.users">
		<a ng-click="y = 'contributions'" ng-class="{ active: y === 'contributions' }">Contributions</a>
		<a ng-click="y = 'users'" ng-class="{ active: y === 'users' }">Contributors</a>
		<a ng-click="y = 'starters'" ng-class="{ active: y === 'starters' }">New Contributors</a>
	</div>

	<h1>{{ project.name }}</h1>

	<p ng-if="project.subprojects.length > 0">
		This project encompases {{ project.subprojects.length }} projects:
		<span ng-repeat="(i, child) in project.subprojects">
			<a ui-sref="project({ id: child.id })">{{ child.name }}</a>{{
				i === project.subprojects.length - 2 ? ' and ' :
				i === project.subprojects.length - 1 ? '.' : ',' }}
		</span>
	</p>

	<p ng-if="project.parent">
		This project is part of the <a ui-sref="project({ id: project.parent.id })">{{ project.parent.name }}</a> project.
	</p>

	<div class="daygraph">
		<div style="float:right">
			<a ng-class="{ active: !monthly }" ng-click="monthly = false">By day</a>
			<a ng-class="{ active: monthly }" ng-click="monthly = true">By month</a>
		</div>
		<h3>{{ yTitles[y] | capitalize }} over time</h3>
		<daygraph data="monthly ? project.months : project.days" axis="i === projects.length - 1" y="y" width="700" height="300" monthly="monthly"></daygraph>
	</div>

	<div class="weekdaygraph">
		<h3>{{ yTitles[y] | capitalize }} per weekday</h3>
		<weekdaygraph data="project.weekdays" axis="i === projects.length - 1" y="y" width="700" height="250"></weekdaygraph>
	</div>

	<div class="effortgraph" ng-if="project.users && !project.hideDistributionOfEffort">
		<h3>Distribution of effort</h3>
		<effortgraph data="project.users" axis="i === projects.length - 1" y="y" width="700" height="300"></effortgraph>
	</div>



	<!-- <div ng-if="project.tasks.complete">
		{{ project.tasks.complete | number }}
		tasks out of
		{{ project.tasks.complete + project.tasks.incomplete | number }} completed
		({{ project.tasks.complete / (project.tasks.complete + project.tasks.incomplete) * 100 | number : 2 }}%)
	</div> -->

	<!-- <div ng-if="project.users">
		<h3>Tasks over time</h3>
		<histogram left="tasksOverTime" left-name="'Tasks'"></histogram>
	</div>
	 -->
</div>