<h1>Stars4All on Social Media</h1>

<p></p>

<div class="pick">
	<!-- <div class="bin">
		<label ng-repeat="account in socialmedia">
			<input type="checkbox">
			M
		</label>
	</div> -->
	<label ng-repeat="account in socialmedia">
		<input type="checkbox" ng-model="account.selected">
		{{ account.handle }}
		({{ account.follows }} follows)
	</label>
</div>

<tweetline data="data"></tweetline>

<div class="hashtags">
	Top 50 hashtags:
	<ul>
		<li ng-repeat="hashtag in hashtags">
			{{ hashtag.tag }}: {{ hashtag.count }}
		</li>
	</ul>
</div>

<dgraph></dgraph>

<!--
	Line chart
Tweets out over time
Tweets in over time 
Replies over time


Graph


-->