@import (less) '../node_modules/flag-icon-css/less/flag-icon.less';
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Playfair+Display');

* {
	box-sizing: border-box;
}
body {
	font-family: 'PT Sans', sans-serif;
	color: #222;
	line-height: 1.3em;
	margin: 0;
	border-top: 4px solid #1E8BC3;
	border-bottom: 4px solid #1E8BC3;
}
a, a:visited {
	color: #1E8BC3;
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		background: #eee;
	}
}
h1, h2, h3, h4, p {
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}
h1 {
	margin-bottom: 40px;
}
emph {
	font-style: italic;
}
ui-view {
	display: block;
	padding: 20px;
	width: 1000px;
	margin: 0 auto;
}
header {
	background: #1E8BC3;
	padding: 20px 40px;
	& > * {
		display: inline-block;
		vertical-align: middle;
		padding-right: 24px;
		color: white;
	}
}
svg {
	.bar, .area {
		fill: #F62459;
		stroke: none;
	}
	.axis {
		opacity: 0;
		.domain {
			stroke: none;
		}
		.tick {
			line {
				//stroke: none;
			}
		}
		&.rotate {
			text {
				transform: rotateZ(90deg) translateX(6px) translateY(-13px);
				text-anchor: start;
			}
		}
	}
}

.projects {
	margin-top: 20px;
}

.parent-icon {
	display: inline-block;
	height: 11px;
	width: 11px;
	margin-left: 3px;
	border-radius: 50%;
	background: red;
	&.cities-at-night {
		background: #BF55EC;
	}
	&.my-sky-at-night {
		background: #2ECC71;
	}
}

.project {
	height: 80px;
	position: relative;
	border-bottom: 1px solid #eee;
	opacity: 1;
	transition: opacity 0.3s ease;
	cursor: pointer;
	.name {
		position: absolute;
		left: 0;
		top: 16px;
		font-size: 14px;
		width: 155px;
	}
	weekdaygraph {
		position: absolute;
		left: 165px;
		top: 20px;
		.bar, .area { fill: #013243; }
	}
	daygraph {
		position: absolute;
		left: 285px;
		top: 20px;
		.bar, .area { fill: #E87E04; }
	}
	effortgraph {
		position: absolute;
		left: 815px;
		top: 20px;
		.bar, .area { fill: #019875; }
	}
	&:hover {
		opacity: 1 !important;
		.axis { opacity: 1; }
	}
	.projects:hover & {
		opacity: 0.4;
	}
	.y.axis {
		opacity: 0 !important;
	}
	&:last-child {
		.x.axis { opacity: 1 !important; }
	}
}

/*
.options {
	a {
		padding: 4px 10px;
		background: #eee;
		border: 1px solid #ddd;
		border-radius: 2px;
		color: inherit;
		text-decoration: none;
		&.active {
			background: #ddd;
			//border-color: transparent;
		}
	}
}
*/


.options {
	margin-top: 20px;
	a {
		padding: 4px 10px;
		color: inherit;
		text-decoration: none;
		border-bottom: 3px solid #ddd;
		&.active {
			border-bottom-color: #E87E04;
			color: #E87E04;
		}
	}
}

.legend {
	margin-top: 44px;
}
