@import (less) '../node_modules/flag-icon-css/less/flag-icon.less';

body {
	font-family: sans-serif;
	color: #222;
	line-height: 1.3em;
	margin: 0;
}
h1 {
	font-weight: 100;
}
ui-view {
	display: block;
	padding: 40px;
}
header {
	background: #1E8BC3;
	padding: 20px 40px;
	& > * {
		display: inline-block;
		vertical-align: middle;
		padding-right: 24px;
		color: white;
	}
}
svg {
	.bar, .area {
		fill: #F62459;
		stroke: none;
	}
	.domain {
		stroke: none;
	}
	.tick {
		line {
			//stroke: none;
		}
		text {
			//transform: rotateZ(90deg) translateX(6px) translateY(-13px);
			//text-anchor: start;
		}
	}
}

.project {
	height: 40px;
	position: relative;
	border-bottom: 1px solid #eee;
	.name {
		position: absolute;
		left: 0;
		top: 20px;
		font-size: 14px;
	}
	.weekdays {
		position: absolute;
		left: 160px;
		top: 0;
	}
	.days {
		position: absolute;
		left: 280px;
		top: 0;
	}
}